*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    height: 19vh;
    width: 100%;
    /* position: fixed; */
    background-color: rgb(243, 246, 243);
}
.head1{
    height: 7vh;
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    /* background-color: rgb(37, 33, 27); */
}


.contact{
    /* height: 100%; */
     /* width: 55%; */
    /* background-color: aquamarine; */
        display: flex;
        font-size: 18px;
        justify-content: center;
        align-items: center;
         gap: 20px;



}
.hir{
    height: 28px;
    width: 100px;
    margin-left: 20px;
    text-align: center;
    background-color: rgb(207, 209, 211);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    margin-left: 30px;
    border-radius: 2px;
    color: rgb(105, 105, 105);
}

.logoc{
    gap: 20px;
    color: rgb(132, 132, 129);
}
.logoc i{
    color: blue;
    margin-right: 8px;
    font-size: 25px;
}

.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(115, 114, 114);
}
.list ul{
    /* width: 60%; */
    display: flex;
    gap: 30px;
    font-size: 18px;
    color: rgb(135, 143, 149);
    justify-content: center;
    align-items: center;
}
div ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    
}

.navbar{
    height: 12vh;
    width: 100%;
    display: flex;
    gap: 30px;
    
    background-color: rgb(255, 250, 250);
   
}
.logo{
    width: 400px;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    height: 60px;
    width: 160px;
    /* background-color: aliceblue; */
}
.navc{
    height: 100%;
    display: flex;
    gap: 20px;
    font-size: 20px;
    text-align: center;
    width: 1100px;
    /* background-color: rgb(50, 101, 101); */
    justify-content: space-evenly;
    align-items: center;
}
.inr{
    height: 25px;
    width: 80px;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(20, 20, 20);
    background-color: rgb(211, 211, 211);
}
.inr:hover{
    background-color: rgb(101, 98, 98);
    cursor: pointer;
    
    box-shadow: rgba(4, 29, 113, 0.35) 0px 5px 15px;
}
.signup{
    height: 40px;
    width: 100px;
    display: flex;
    border-radius: 10px;
    /* margin-left: 30px; */
    background-color: rgb(28, 28, 116);
    justify-content: center;
    align-items: center;
    
}
.nav1{
    height: 100%;
    margin-top: 30px;
}
/* .product{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */



    /* product */


.productbox{
    border-top: 3px solid rgba(0, 0, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 0;
    height: 79vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: none; 
  
   
}
.nav1:hover + .productbox{
    display:block;
    display: flex;
    /* position: absolute; */
    
}
.productbox:hover {
    display:block;
    /* display: flex; */
    
}

 .left{
    height:100%;
    width: 25%;
    /* background-color: brown; */
    
 }
 .parentleft{
    margin-top: 5px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .childleft img{
    height: 60px;
 }
 .childleft{
    height: 130px;
    width: 75%;
    padding: 20px;
    /* gap: -90px; */
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    border-right:  1px solid rgba(128, 128, 128, 0.176);
 }
.compute{
   height: 100%;
}
.computebox{
    height: 800px;
    width: 75%;
    padding: 10px;
    /* background-color: rgb(209, 98, 98); */
    display:none ;
    position: absolute;
    top: 0vh;
   right: 0px;
}
.computebox:hover {
    display:block;
    /* display: flex; */
    
}
.compute:hover + .computebox{
    display:block;
    /* display: flex; */
    
}
.storage:hover + .storagebox{
    display: block;
}
.networking:hover + .networkingbox{
    display: block;
}
.database:hover + .databasebox{
     display: block;
}
.firstcompute {
    display: flex;
    height: 120px;
    width: 900px;
}
.firstcompute .childleft{
    height: 90px;
    font-size: 12px;
    gap: 20px;
    display: block;
}
.firstcompute .childleft img{
    height: 40px;
    /* width: 50px; */

}
.lefttxt{


    
}
.lefttxt p{
    font-size: 15px;
}
.lefttxt h2{
    margin-top: 5px;
    font-weight: 500;
    font-size: 22px;
}



/* solution */


.solutionbox {
    border-top: 3px solid rgba(0, 0, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 0;
    height: 40vh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    display: none; 
}
.nav1:hover+ .solutionbox{
    display:block;
    display: flex;
}
.leftsolution{
    margin-top: 70px;
    height: 100%;
    width: 50%;

}
.leftsolution h1{
    height: 50px;
    font-weight: 600;
    font-size: 35px;

}
.leftsolution p{
    height: 40px;
    font-size: 20px;    
}
.leftsolution button{
    height: 45px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(73, 73, 221);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.rightsolution{
    height: 100%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;

}
.rightsolutionbox{
    height: 150px;
    width: 350px;
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    border-right:  1px solid rgba(128, 128, 128, 0.176);
   
   display: flex;
   display: block;
    /* background-color: bisque; */
}
.rightsolutionbox img{
    height: 50px;
}

.rightsolutionbox p{
    height: 40px;
    margin-top: 10px;
    font-size: 16px;
}
.rightsolutionbox h1{
    height: 60px;
    font-weight: 500;
    font-size: 18px;
}




/* marketplace */


.marketplacebox{
    border-top: 3px solid rgba(0, 0, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 0;
    height: 40vh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    display: none; 
}
.nav1:hover+ .marketplacebox{
    display:block;
    display: flex;
}
.leftmarketplace{
    margin-top: 70px;
    height: 100%;
   
    width: 70%;
}
.leftmarketplace h1{
    height: 50px;
    font-weight: 600;
    font-size: 35px;

}
.leftmarketplace p{
    height: 40px;
    font-size: 20px;    
}

.leftmarketplace button{
    height: 45px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(73, 73, 221);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.rightmarketplace{
    width: 30%;
    height: 100%;
}

.rightmarketplace img{
    height: 40px;
}
.rightmarketplacebox{
   
    height: 150px;
    width: 400px;
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    border-right:  1px solid rgba(128, 128, 128, 0.176);
   
   display: flex;
  
   display: block;
  

}
.image{
    /* height: 100%; */
    /* width: 20%; */
    /* height: 100%; */
    position: absolute;
    top: 40px;
   
    /* padding-top: 40px; */
    /* background-color: aqua; */
    
}
.image img{
    height: 70px;

}
.image2 img{
   height: 60px;
}
.image2{
    height: 60px;
    position: absolute;
    
}
.leftxt{
    /* margin-top: 40px; */
    margin-left: 60px;
    width: 80%;
    
}
.leftxt h2{
    margin-top: 20px;
    font-size: 26px;

}
.leftxt p{
   margin-top: 10px;
    font-size: 18px;
    
}



/* community */

.communitybox {
    border-top: 3px solid rgba(0, 0, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 0;
    height: 60vh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    display: none; 
}
.nav1:hover+ .communitybox{
    display:block;
    display: flex;
}
.leftcommunity{
    margin-top: 130px;
    height: 100%;
    width: 30%;

}
.leftcommunity h1{
    height: 50px;
    font-weight: 600;
    font-size: 35px;

}
.leftcommunity p{
    height: 40px;
    font-size: 20px;    
}
.leftcommunity button{
    height: 45px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(73, 73, 221);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.rightcommunity{
    height: 100%;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;

}
.rightcommunitybox{
    height: 80px;
    width: 400px;
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    border-right:  1px solid rgba(128, 128, 128, 0.176);

   display: flex;
   display: block;
    /* background-color: bisque; */
}
.rightcommunitybox img{
    height: 55px;
}

.rightcommunitybox p{
    height: 40px;
    margin-top: 10px;
    font-size: 17px;
}
.rightcommunitybox h1{
    height: 60px;
    font-weight: 500;
    font-size: 19px;
}



/* why choose us */

.choosebox{
    border-top: 3px solid rgba(0, 0, 255, 0.573);
    position: absolute;
    top: 17vh;
    left: 0;
    height: 70vh;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: rgb(255, 255, 255);
    display: none; 
}
.nav1:hover+ .choosebox{
    display:block;
    display: flex;
}
.leftchoose{
    margin-top: 80px;
    height: 100%;
    width: 30%  ;
}
.leftchoose h1{
    height: 60px;
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 40px;

}
.leftchoose p{
    height: 60px;
    font-size: 20px;
    margin-top: 5px;    
}

.leftchoose button{
    height: 45px;
    width: 130px;
    border-radius: 10px;
    background-color: rgb(73, 73, 221);
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.rightchoose{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;    
    margin-left: 300px;
}

.chooseimage img{
    height: 20px;
}
.rightchoosebox{
   
    height: 90px;
    width: 420px;
    border-top: 1px solid rgba(128, 128, 128, 0.192);
    border-right:  1px solid rgba(128, 128, 128, 0.176);
   
   display: flex;
  
   display: block;
  

}
.chooseimage{
    /* height: 100%; */
    /* width: 20%; */
    /* height: 100%; */
    position: absolute;
    top: 40px;
   
    /* padding-top: 40px; */
    /* background-color: aqua; */
    
}
.chooseimage img{
    height: 70px;

}
.chooseimage img{
   height: 60px;
}
.image2{
    height: 60px;
    position: absolute;
    /* top: 40px; */
   
    /* padding-top: 40px; */
    /* background-color: aqua; */
}
.chooselefttxt{
    /* margin-top: 40px; */
    margin-left: 30px;
    width: 80%;
    /* height: 100%; */
    /* background-color: blueviolet; */
    /* height: 100%; */
  
}
.chooselefttxt h2{
    margin-top: 20px;
    font-size: 23px;

}
.chooselefttxt p{
    font-size: 18px;
    margin-top: 10px;
 } 





















 





















.signupbut{
    display: flex;
    color: white;
    /* background-color: aquamarine; */
    justify-content: center;
    margin-left: 30px;
    align-items: center;

}

.signup:hover{
    background-color: rgb(50, 36, 132);
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(4, 29, 113, 0.35) 0px 5px 15px;
}


/* main */

main{
    height: 100vh;
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 40px;

    /* background-color: rgb(108, 99, 99); */
    background: rgb(235,242,114);
    background: linear-gradient(50deg, rgba(235,242,114,0.2778361344537815) 13%, rgba(250,251,92,0.2806372549019608) 24%, rgba(235,235,94,0.26943277310924374) 54%, rgba(17,141,177,0.25262605042016806) 95%);
}

.boxinfo{
    height: 90vh;
    width: 55%;
    /* background-color: aquamarine; */
}
.innerboxinfo{
    height: 90%;
    width: 85%;
    margin-top: 40px;
    margin-left: 40px;
    /* background-color: beige; */
    
}
.innerboxinfo h1{
    height: 100px;
    width: 100%;
    font-size: 40px;
    color: rgb(39, 36, 36);
    font-weight: 400x;
    /* background-color: rgb(186, 186, 54); */
}
.innerboxinfo p{
    height: 100px;
    width: 100%;
    /* background-color: rgb(182, 148, 246); */
    font-size: 20px;
    color: rgb(122, 133, 155);
    margin-top: 5px;
    letter-spacing: 1.3px;
    
}
.box{
    margin-top: 30px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}
.box input{
    height: 50px;
    width: 500px;
    border-radius: 8px;
    font-size: 18px;
    padding-left: 20px;
    border: 2px solid black;
    background-color: beige;
}
.box button{
    height: 50px;
    width: 180px;
    color: white;
    font-size: 16px;
    border-radius: 8px;
    border-color: azure;
    background-color: rgb(0, 0, 94);
}
.trust h3{
    height: 30px;
    width: 100%;
    margin-top: 40px;
    padding-left: 20px;
    font-size: 20px;
    color: rgb(101, 101, 100);
    /* background-color: aquamarine; */
}
.innerboxinfoimage img{
    height: 70px;
    margin-left: 20px;
    
    
}
.innerboximg {

    width: 40%;
    /* background-color: aquamarine; */
    
}
.innerboximg{
    /* margin-top: 90px; */
    padding-top: 170px;
}
















.innerboximg img{
    margin-top: 10px;
    height: 140px;
    width: 500px;
    margin-left: 10px;
    
    border-radius: 10px;
}

/* cards */







.cards{
    height: 300px ;
    width: 100%;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(131, 167, 167); */
}
.card{
    margin-top: 50px;
    /* margin-left: 10px; */
    height: 230px;
    width: 275px;
    border-radius: 8px;
    
    background-color: rgb(236, 241, 240);
}
.card:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(4, 29, 113, 0.35) 0px 5px 15px;
}
.card img{
    height: 60px;
    margin-top: 15px;
    margin-left: 100px;
    
    /* background-color: antiquewhite; */
}
.card h2{
    height: 40px;
    width: 100%;
    margin-top: 9px;
    text-align: center;
    /* background-color: beige; */
}
.card p{
    height: 80px;
    width: 100%;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    color: rgb(91, 92, 93);
    /* background-color: rgb(182, 148, 246); */
}



.content{
    margin-top: 80px;
    height: 180px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.content h1{
    height: 45px;
    margin-bottom: 20px;
    font-size: 40px;
    letter-spacing: 1.7px;
    font-weight: 600;
    color: rgb(8, 15, 15);
    /* width: 100%; */
    /* background-color: bisque; */
}
.content p{
    height: 20px;
    font-size: 20px;
    padding-bottom: 60px;
    width: 55%;
    color: rgb(91, 91, 88);
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.1px;
    /* background-color: rgba(54, 23, 255, 0.353); */
}
.maindiv{
    height: 250px;
    width: 100%;
    display: flex;
    gap: 80px;
    
    /* background-color: aqua; */
}
.content2{
    margin-top: 35px;
    height: 220px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(121, 233, 233); */
}
.content2 h1{
    height: 60px;
    font-size: 40px;
    margin-bottom: 12px;
    font-size: 40px;

    letter-spacing: 1.7px;
    font-weight: 600;
    color: rgb(8, 15, 15);
    /* background-color: aqua; */

}
.content2 p{
    height: 90px;
    font-size: 20px;
    padding-bottom: 60px;
    width: 65%;
    color: rgb(91, 91, 88);
    text-align: center;
    font-size: 22px;

    letter-spacing: 1.1px;
    /* background-color: rgb(71, 182, 182); */

}









.maincontent{
    /* height: 100%; */
    width: 65%;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: blueviolet; */
}
.maincontent2 {
    margin-left: 10px;
    width: 20%;
}
.maincontent img{
    height: 150px;
    margin-left: 30px;
    
    /* width: 120px; */
}



.boxess{
    height: 450px;
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: aquamarine; */
    
}
.box1{
    height: 190px;
    width: 20vw;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    border-radius: 10px;
    /* padding-top: 20px; */
    background-color: rgb(0, 0, 0);
}



.box1:hover{
    /* background-color: rgb(50, 36, 132); */
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(4, 29, 113, 0.35) 0px 5px 15px;
}




.box1 img{
    height: 60px;
    /* background-color: blanchedalmond; */


}
.box1 h1{
    margin-top: 10px;
    height: 30px;
    color: rgb(255, 255, 255);
    margin-top: 22px;
    
    font-size: 24px;
    /* background-color: aqua; */
}
.box1 p{
    margin-top: 5px;
    height: 15px;
    color: rgb(255, 255, 255);
    /* letter-spacing: 1.9px; */
    font-size: 16px;
    /* background-color: azure; */
}


.productsbut{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(56, 123, 123); */
}
.productsb:hover{
    /* background-color: rgb(50, 36, 132); */
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: rgba(4, 29, 113, 0.35) 0px 5px 15px;
}
.productsb{
    height: 45px;
    width: 170px;
    display: flex;
    color: white;
    font-size: 19px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(1, 1, 1);
}




.simple{
    margin-top: 55px;
    height: 180px;
    width: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aqua; */
}
.simple h1{
    height: 45px;
    margin-bottom: 10px;
    font-size: 40px;
    letter-spacing: 1.7px;
    font-weight: 600;
    color: rgb(8, 15, 15);
    /* width: 100%; */
    /* background-color: bisque; */
}
.simple p{
    height: 20px;
    font-size: 20px;
    padding-bottom: 60px;
    width: 55%;
    color: rgb(91, 91, 88);
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.1px;
    /* background-color: rgba(54, 23, 255, 0.353); */
}




.secondbox{
    height: 160vh;
    width: 100%;
    
    /* background-color: rgb(226, 229, 229); */
}
.gif{

    display: flex;
    justify-content: center;
    align-items: center;
}
.gif img{
    margin-top: 20px;
    border-radius: 10px;
}



.experience{
    margin-top: 55px;
    height: 180px;
    width: 100%;
    display: flex;
    
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(54, 63, 63); */
}
.experience h1{
    height: 80px;
    width: 66%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 39px;
    letter-spacing: 1.7px;
    font-weight: 600;
    color: rgb(8, 15, 15);
    /* width: 100%; */
    /* background-color: bisque; */
}
.experience p{
    height: 90px;
    width: 35%;
    font-size: 20px;
    padding-bottom: 60px;
    width: 55%;
    margin-top: 10px;
    color: rgb(91, 91, 88);
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.1px;
    /* background-color: rgba(54, 23, 255, 0.353); */
}






.etable{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 80%;
    
}
.etable table {
    /* background-color: antiquewhite; */
    transform: translateY(100px);
    height: 180px;
    width: 80%;
    
}

.etable table .Utho_range img {
    height: 65px;
}

.etable table .Utho_range h3 {
    font-size: 27px;
    color: black;
}

.etable table .Utho_range .cloud {
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(10px) translateX(-200px);

}

.etable table .Utho_range .U {
    height: 40px;
    width: 250px;
    background-color: rgb(39, 139, 39);
    border-radius: 10px;
}

.etable table .Utho_range p {
    font-size: 12px;
    padding-top: 5px;
    /* background-color: aqua; */
}

.etable table .Utho_range h4 {
    font-size: 20px;
    color: gray;
    transform: translateX(-70px) translateY(-10px);
}

.etable table tr td img {
    height: 47px;
}

.etable table .cloud_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-130px) translatey(10px);
}

.etable table .cloud_1 h4 {
    font-size: 18px;
    color: gray;
    transform: translateX(10px) translateY(-10px);
}

.etable table td h3 {
    font-size: 20px;
    color: gray;
}

.etable table .cloud_1 .Ac_1 {
    height: 40px;
    width: 480px;
    background-color: rgb(185, 192, 185);
    border-radius: 10px;
}

.etable table .cloud_1 p {
    font-size: 12px;
    padding-top: 5px;
}

.etable table .cloud_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-75px) translatey(10px);
}

.etable table .cloud_2 .Ac_2 {
    height: 40px;
    width: 590px;
    background-color: rgb(185, 192, 185);
    border-radius: 10px;
}

.etable table .cloud_2 p {
    font-size: 12px;
    padding-top: 5px;
}

.etable table .cloud_2 h4 {
    font-size: 18px;
    color: gray;
    transform: translateX(10px) translateY(-10px);
}

.etable table .cloud_3 {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-30px) translatey(10px);
}

.etable table .cloud_3 .Ac_3 {
    height: 40px;
    width: 680px;
    background-color: rgb(185, 192, 185);
    border-radius: 10px;
}

.etable table .cloud_3 p {
    font-size: 12px;
    padding-top: 5px;
}

.etable table .cloud_3 h4 {
    font-size: 18px;
    color: gray;
    transform: translateX(10px) translateY(-10px);
}




























.superfast{
    margin-top: 55px;
    height: 180px;
    width: 100%;
    display: flex;
    
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(54, 63, 63); */
}
.superfast h1{
    height: 50px;
    font-size: 45px;
    font-weight: 500;
}
.superfast p{
    margin-top: 15px;
    font-size: 25px;
    color: rgb(68, 68, 70);
    /* background-color: rgba(54, 23, 255, 0.353); */
}


.boximg{
    height: 80vh;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    /* background-color: azure; */

}
.boximg img{
    height: 600px;
}



.scalable{
    margin-top: 30px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.scalable h1{
    height: 50px;
    font-size: 45px;
    font-weight: 500;
    /* background-color: azure; */

}
.scalable p{
    margin-top: 15px;
    font-size: 25px;
    color: rgb(68, 68, 70);
}
.globep{
    display: flex;
    justify-content: center;
    align-items: center;


}
.globe{
     margin-top: 15px;
    height: 900px;
     /* width: 600px; */
    border-radius: 50px 50px 50px 50px;
    background-color: rgb(34, 34, 33); 
    padding-top:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.globe h1{
     
   color: white;
   height: 200px;
   width: 600px;
   font-size: 50px;
   text-align: center;
   /* background-color: blue; */
    
}
.globe img{
     /* margin-top: 270px; */
     height: 600px;


}

.experience2{
    margin-top: 55px;
    height: 180px;
    width: 100%;
    display: flex;
    
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(54, 63, 63); */
}
.experience2 h1{
    height: 80px;
    width: 66%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 39px;
    letter-spacing: 1.7px;
    font-weight: 600;
    color: rgb(8, 15, 15);
    /* width: 100%; */
    /* background-color: bisque; */
}
.experience2 h6{
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 20px;
    color: rgb(117, 123, 123);
    /* background-color: rgb(63, 136, 136); */
}
.experience2 p{
    height: 80px;
    width: 35%;
    font-size: 20px;
    padding-bottom: 60px;
    width: 55%;
    margin-top: 10px;
    color: rgb(91, 91, 88);
    text-align: center;
    font-size: 22px;
    letter-spacing: 1.1px;
    /* background-color: blanchedalmond; */
}






.logos{
    height: 150px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-self: center;
    /* background-color: aquamarine; */
}
.logos img{
    height: 120px;
    gap: 20px;
}
.logos2
{
    height: 150px;
    display: flex;
    gap: 70px;
    justify-content: center;
    align-self: center;
    /* background-color: aquamarine; */
}





.realible{
    margin-top: 30px;
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: aquamarine; */
}

.realible h1{
    height: 50px;
    font-size: 45px;
    font-weight: 600;
    /* background-color: azure; */

}
.realible p{
    width: 60%;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    color: rgb(68, 68, 70);
}










.animation{

    display: flex;
    gap: 70px;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    height: 400px;
    /* background-color: aquamarine; */
}
.twobox{

    text-align: left;
    margin-top: 20px;
    height: 390px;
    width: 500px;
    /* background-color: blue; */
}
.twobox h1{
    margin-top: 40px;
    height: 57px;
    font-size: 35px;
    /* background-color: blueviolet; */
}
.twobox p{
    margin-top: 30px;
    height: 60px;
    font-size: 20px;
    /* background-color: blueviolet; */
}
.twobox button{
    margin-top: 29px;
    height: 40px;
    width: 220px;
    color: white;
    border-color: blue;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgb(1, 1, 4);
}
.innertwobox2{
   
    height: 500px;
    width: 600px;
    display: flex;
    gap: 30px;
    /* overflow: scroll; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.twobox2{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;     
}
.innerbox2{
    height: 80px;
    width: 130px;
    display: flex;
    gap: 40px;
    /* background-color: blanchedalmond; */
    animation-name: mybox;
    animation-duration: 2s;

    animation-iteration-count: infinite; 
     /* background-color: rgb(101, 101, 104); */
}
@keyframes mybox{
    0% {
        transform: translatey(0px);
    }
   
    100% {
        transform: translatey(-210px);
    }
}
.innerbox2 img{
    height: 30px;
    /* background-color: blueviolet; */
}










.skill{
    margin-top: 90px;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: blanchedalmond; */
}
.skill img{
    height: 90px;
    margin-bottom: 20px;
    border-radius: 50%;
    
}
.skill p{
    width: 60%;
    font-size: 25px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300;
    color: rgb(3, 3, 2);
}
.skill h6{
    margin-top: 10px;
    font-size: 17px;
    font-weight: 200;

 }
 .skilogo img{
    margin-top: 25px;
    height: 55px;
    


 }





/* frame */









 .frame{
    height: 80px;
    width: 100%;
    display: flex;
    font-size: 23px;
    /* padding-bottom: 20px; */
    font-weight: 200;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(181, 126, 43); */
 }







 swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
   
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 20%;
    height: 30%;
    object-fit: cover;
  }
  .slidep{
    height: 400px;
    width: 100%;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: beige;

  }
  .slide1{
    height: 700px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    /* background-color: rgb(138, 135, 200); */
    
  }
  .slide1 img{
    height: 30%;
    width: 100%;
    margin-bottom: 50px;
    border-radius: 10px;

  }
  .slide1 h1{
    font-size: 20px;
    margin-bottom: 10px;
  }
.slide1 h3{
    margin-top: 10px;
}

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
















.featured{
    margin-top: 20px;
    height: 80px;
    display: flex;
    font-size: 23px;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(43, 226, 113); */
}

.featured h1{
    /* color: white; */
    font-weight: 300;
}
.animationsp{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: auto;     
    /* background-color: beige; */
   
}
.animations{
    height: 500px;
    width: 600px;
    display: flex;
    gap: 20px;
    /* overflow: scroll; */
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
   
    /* background-color: beige; */
}

.boxa{
    height: 80px;
    width: 170px;
    display: flex;
    gap: 70px;
    animation-name: myboxa;
    animation-duration: 2s;

    animation-iteration-count: infinite;
    /* background-color: rgb(101, 101, 104); */
}
@keyframes myboxa{
    0% {
        transform: translatey(0px);
    }
   
    100% {
        transform: translatey(-320px);
    }
}
.boxa img{
    height: 50px;
    /* background-color: blueviolet; */
}












.questionsp{
    height: 600px;
    width: 100%;
     /* background-color: aqua; */
}
.questionsparent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.questionh{
    height: 100px;
    width: 100%;
    margin-top: 60px;
    /* background-color: blanchedalmond; */
    display: flex;
    font-size: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.questions1{
    width: 60%;
    height: 40px;
    text-align: left;
    margin-top: 30px;
    display: flex;
   
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions1 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}




.questions2{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions2 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}
.questions3{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions3 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}
.questions4{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions4 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}
.questions5{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    height: 40px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions5 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}
.questions6{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    height: 40px;
    font-weight: 100;
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions6 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}
.questions7{
    width: 60%;
    text-align: left;
    margin-top: 30px;
    display: flex;
    font-size: 16px;
    height: 40px;
    font-weight: 100;
   
    border-bottom: 2px solid rgba(128, 128, 128, 0.192);
    /* background-color: blueviolet; */
}
.questions7 h2{
    font-weight: 400;
    color: rgb(18, 18, 63);

}

.questions1 i{
    padding-left: 495px;
    font-size: 20px;
}
.questions2 i{
    padding-left: 380px;
    font-size: 20px;
}
.questions3 i{
    padding-left: 350px;
    font-size: 20px;
}
.questions4 i{
    padding-left: 360px;
    font-size: 20px;
}
.questions5 i{
    padding-left: 320px;
    font-size: 20px;
}

.questions6 i{
    padding-left: 360px;
    font-size: 20px;
}
.questions7 i{
    padding-left: 360px;
    font-size: 20px;
}


/* .questions1 i{
    padding-left: 390px;
    font-size: 30px;
} */



.questions h2{
    height: 60px;
}

.questions1 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions2 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions3 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions4 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions5 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions6 h2:hover{
    color: rgb(17, 39, 203);
    
}
.questions7 h2:hover{
    color: rgb(17, 39, 203);
    
}
.ibox{
    /* height: 150px;
    width: 400px;
  
    position: absolute;
    left: 190px;
    right: 10px;
   
    background-color: aquamarine;
   display: flex;
   
   display: none; */

}

.questions1 i:hover+.ibox{
    display:block;
    display: flex;

}



.FooterDiv {
    height: 900px;
    width: 100%;
    background-color: #082a51;
    gap: 10px;
    display: flex;
    padding-top: 50px;
    padding: 35px;

}


.f1{
    height: 100%;
    width: 40%;

}
.logof img{
    height: 40px;
    /* background-color: #fff; */
}
.contentf p{
    margin-top: 30px;
    color: #afaeae;
    font-size: 20px;
}
.contentf h6{
    margin-top: 20px;
    color: #afaeae;
    font-size: 20px;
}



.f2 {
    margin-top: 40px;
    height: 100%;
    width: 20%;
    /* background: rgb(151, 109, 109); */
    display: flex;
    align-items: center;
    flex-direction: column;

}

.f2 h4 {
    margin-right: 55px;
    color: white;
}




.commity {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 400px;

}

.commity h5 {
    font-weight: 400;
    color: #afaeae;
    font-size: 15px;
}

.commity i {
    color: #fbfcfd;
}








